*{
    margin:0px ;
    padding: 0px;
    box-sizing: border-box; /*Para que las cajas no se desborden*/
    
}
body {
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.padre {
    display: flex;
    flex-flow: column nowrap;   /*No wrap para que se adapte */
}
.margen-interno {
    padding: 0 50px;
}

.header {
    background: url(img/bg-2.jpg);
    /*Para retroceder en ruta usamos .../ */
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display:flex;
    flex-flow: column nowrap;
}
    .menu {
        background: rgba(0,0,0,.1);
        display: flex;
        flex-flow: row nowrap; /*Lo dejamos en row y nowrap para que se vea uno tras otro en la misma línea*/
        height: 60px;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,.5);
            /*añado un border botton, que quiere decir que es abajo, el primer parametro es 1 px de ancho, solido y el color*/
    }
        .logo {
            
            flex: 1 1 auto;
            
            /*Si hago un color: #fff no veré nada, porque es texto y tengo que decirle que se ponga blanco el ancla , para ello dentro de logo creo otra clase .logo a {} donde le indico esto*/
        }
            .logo a {
                color: #fff;
                font-size: 30px;
                
            }
            .logo a:hover{
                color: #333434;
            }

        .nav {
            
            flex: 5 1 auto;
           

        }
            .nav a {
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;

            }
            .nav a:hover {
                color: #343434;

            }
        .social {
              
              flex: 1 1 auto;
              display: flex;
              
        } 
            
            .social a {
                font-size: 18px;
                color: #fff;
                padding: 0 5px;
            }
            .social a:hover{
                color: #343434;
                
            }
    .texto-principal{
            height: 580px;
            display: flex;
            align-items: center;
        }
            h1 {
                font-family: 'Lora', serif;
                font-size: 21px;
                color: #fff;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
            }



.section {
    background: #f7f7f7;
    display: flex;
    
}
    .articulos  {
        background: #f7f7f7;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap; /*Si el contenedor no alcanza en espacio, pasa abajo las cajitas*/

    }
        .article {
            flex: 1 1 40%;
            color: #444;
            font-size: 13px;
            letter-spacing: 1px;

            margin: 10px 10px 0 0px;
            flex: 1 1 45%;
            background: #ececec;
        }
            .article img {
                width: 100%;
            }
            .article a {
                color: #fff;
                font-size: 13px;
                padding: 10px ;
                background: #000;
                margin: 10px 0;
                display: inline-block; /*Lo mostramos como bloque para que no pise el texto, así se separa del resto*/
            }
            .article a:hover{
                background: #546cc3;
            }
            h3 {
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px; /* Esto lo hacemos para que el título entre sobre la imagen */
            }
            h2 {
                font-size: 25px;
                text-transform: uppercase;
                padding:  0px 0 10px 0;
                color : #fff;
            }

        .navegacion {
            background: #000;
            flex: 1 1 100%;  /*Al ponerle el 100%, no hay espacio suficiente y salta a la siguiente línea*/
            margin: 10px 10px 0 0px;
        }
            .navegacion a {
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
    .aside{
        
        flex: 1 1 auto;
        margin: 10px 5px 10px 0;
        
    }
        h4 {
            background: #000;
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
        }
        .aside img {
            width: 100%s;
        }
        .publicidad {
            
        }

.footer {
    background: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
    .pie{
        
        text-align: center;
        
        
    }
        .pie a {
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }
@media all and (max-width: 800){

    .section {
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside {
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600){
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 400){
    .aside{
        flex-direction: column;
    }
}