.container {
    margin: 0 auto;
    width: 90%;
}
.flex {
    display: flex;
}
.text_center {
    text-align: center;
}
.precio {
    font-size: 50px;
    color: #00dac7
}
.columna {
    background: rgb(238,238,238);
    color: #333;
    border : 1px solid #333;
    margin: 10px;
    padding: 10px;
    border-radius:5px;
}
