*{
    margin:10px ;
    padding: 10px;
    box-sizing: border-box; /*Para que las cajas no se desborden*/
}
.padre {
    display: flex;
    flex-flow: column nowrap;   /*No wrap para que se adapte */
}
    

.header {
    background: #000;
    display:flex;
    flex-flow: column nowrap;
}
    .menu {
        background: #2d4059;
        display: flex;
        flex-flow: row nowrap; /*Lo dejamos en row y nowrap para que se vea uno tras otro en la misma línea*/
        height: 100px;
        align-items: center;
    }
        .logo {
            background: #ea5455;
            flex: 1 1 auto;
            height: 30px;
        }
        .nav {
            background: #ea5455;
            flex: 5 1 auto;
            height: 30px;

        }
        .social {
              background: #ea5455;
              flex: 1 1 auto;
              height: 30px;
        }
    .texto-principal{
            background: #f07b3f;
        }
            h1 {
                background: #ffd460;
            }



.section {
    background: #000;
    display: flex;
    
}
    .articulos  {
        background: #4e4e64;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap; /*Si el contenedor no alcanza en espacio, pasa abajo las cajitas*/

    }
        .article {
            background: #1f6cb0;
            flex: 1 1 40%;
        }
        .navegacion {
            background: #70a3c4;
            flex: 1 1 100%;  /*Al ponerle el 100%, no hay espacio suficiente y salta a la siguiente línea*/
        }
    .aside{
        background: #f73f52;
        flex: 1 1 auto;
        
    }
        .publicidad {
            background: #ffea85;
        }

.footer {
    background: #000;
    display: flex;
    justify-content: center;
}
    .pie{
        background: #e6af2e;
        width: 300px;
        
    }
@media all and (max-width: 800){

    .section {
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside {
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600){
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 400){
    .aside{
        flex-direction: column;
    }
}